{% extends "_layout"%}
{% set blogPostFeaturedImage = {
  mode: 'crop',
  width: 330,
  height: 250,
  quality: 100
} %}
{% block content %}
{% include "_fulcrum-premium-finance/_includes/_nav" %}
<!-- BLOG HEADER - SECTION 1 -->
<div id="blog" class="blog-header section">
    <div class="row">

        <!-- BLOG HEADING -->
        <div class="blog-header-container">
            <h1 class="blog-header-title">The latest Premium Finance news content</h1>

            <!-- READ MORE BUTTON -->
            <a class="read-more-button standard-btn" href="">Read more</a>

        </div>

    </div>
</div>

<!-- BLOG INTRO - SECTION 2 -->
<div id="blog-intro" class="section">
    <div class="row">

        <div class="blog-intro-contianer">
            <h2 class="blog-intro-heading">Gain more insight to the benefits if Premium Finance </h2>
            <p class="blog-intro-insight-text">We publsih articles every month related to Premium Financing giving perspective, asking questions and reviewing better ways of  creating the solutions our clients need. Have a look at out latest piece of content </p>
        </div>
    </div>
</div>

<div class="blog-blocks section">
    <div class="row">
            
        {% for entry in craft.entries.section('blogPosts').limit(9).all()%}

            <div class="col-md-4">
                <div class="blog-post-container">
                    
                    <div class="blog-entry-container">

                        <!-- BLOG POST URL LINK -->
                        <a href="{{ entry.url }}" class="blog-entry-link"></a>

                        <!-- BLOG POST FEATURED IMAGE -->
                        <div class="blog-featured-image">
                            {% if entry.blogPostFeaturedImage|length %}
                                {% for image in entry.blogPostFeaturedImage.all() %}
                                    <img src="{{ image.getUrl(blogPostFeaturedImage) }}" alt="{{ image.title }}" />
                                {% endfor %}
                            {% endif %}
                        </div>

                    </div>

                    <!-- BLOG POST TITLE -->
                    <div class="blog-post-content-container">
                        <a href=" {{ entry.url }}  " ><h2 class="plog-post-title">{{ entry.blogPostTitle }}</h2></a>
                        <p class="blog-post-content">{{ entry.blogPostExcerpt }}</p>
                        <h3 class="blog-most-meta">{{ entry.blogPostDate|date("j M Y") }}</h3>
                    </div>

                </div>
            </div>

        {% endfor %}
    </div>
</div>



{% include "_fulcrum-premium-finance/_includes/_contact-form" %}
{% include "_fulcrum-premium-finance/_includes/_footer" %}
{% endblock %}
    






