{% extends "_layout"%}
{% block content %}
{% include "_fulcrum-premium-finance/_includes/_nav" %}
<!-- BLOG HEADER - SECTION 1 -->
<div id="blog" class="blog-header section">
    <div class="row">

        <!-- BLOG HEADING -->
        <div class="blog-header-container">
            <h1 class="blog-header-title">The latest Premium Finance news content</h1>

            <!-- READ MORE BUTTON -->
            <a class="read-more-button standard-btn" href="">Read more</a>

        </div>

    </div>
</div>

<!-- BLOG INTRO - SECTION 2 -->
<div id="blog-intro" class="section">
    <div class="row">

        <div class="blog-intro-contianer">
            <h2 class="blog-intro-heading">Gain more insight to the benefits if Premium Finance </h2>
            <p class="blog-intro-insight-text">We publsih articles every month related to Premium Financing giving perspective, asking questions and reviewing better ways of  creating the solutions our clients need. Have a look at out latest piece of content </p>
        </div>
    </div>
</div>

<div class="blog-blocks section">


<div class="row">

    <div class="col-md-4">
        <div class="blog-post-container">
                <div class="blog-entry-container">
                    <a href="" class="blog-entry-link"></a>
                    <div class="blog-featured-image">
                        <img src="/web/assets/blog/Sample-post-images/Blog-post-sample-featured-image-1.png" alt="">
                    </div>
                </div>
                <div class="blog-post-content-container">
                    <a href="" ><h2 class="plog-post-title">Lorem ipsum dolor sit amet, consectetur adipiscing ut aliqua. </h2></a>
                    <p class="plog-post-content">Lorem ipsum dolor sit amet et dolore magna aliqua.</p>
                    <h3 class="plog-most-meta">13 OCT 2018</a>
                </div>
            </div>
        </div>

    



    <div class="col-md-4">
        <div class="blog-post-container">
                <div class="blog-entry-container">
                    <a href="" class="blog-entry-link"></a>
                    <div class="blog-featured-image">
                        <img src="/web/assets/blog/Sample-post-images/Blog-post-sample-featured-image-2.png" alt="">
                    </div>
                </div>
                <div class="blog-post-content-container">
                    <a href="" ><h2 class="plog-post-title">Lorem ipsum dolor sit amet, consectetur adipiscing ut aliqua. </h2></a>
                    <p class="plog-post-content">Lorem ipsum dolor sit amet et dolore magna aliqua.</p>
                    <h3 class="plog-most-meta">13 OCT 2018</a>
                </div>
            </div>
        </div>




    <div class="col-md-4">
        <div class="blog-post-container">
                <div class="blog-entry-container">
                    <a href="" class="blog-entry-link"></a>
                    <div class="blog-featured-image">
                        <img src="/web/assets/blog/Sample-post-images/Blog-post-sample-featured-image-3.png" alt="">
                    </div>
                </div>
                <div class="blog-post-content-container">
                    <a href="" ><h2 class="plog-post-title">Lorem ipsum dolor sit amet, consectetur adipiscing ut aliqua. </h2></a>
                    <p class="plog-post-content">Lorem ipsum dolor sit amet et dolore magna aliqua.</p>
                    <h3 class="plog-most-meta">13 OCT 2018</a>
                </div>
            </div>
        </div>




    <div class="col-md-4">
        <div class="blog-post-container">
                <div class="blog-entry-container">
                    <a href="" class="blog-entry-link"></a>
                    <div class="blog-featured-image">
                        <img src="/web/assets/blog/Sample-post-images/Blog-post-sample-featured-image-4.png" alt="">
                    </div>
                </div>
                <div class="blog-post-content-container">
                    <a href="" ><h2 class="plog-post-title">Lorem ipsum dolor sit amet, consectetur adipiscing ut aliqua. </h2></a>
                    <p class="plog-post-content">Lorem ipsum dolor sit amet et dolore magna aliqua.</p>
                    <h3 class="plog-most-meta">13 OCT 2018</a>
                </div>
            </div>
        </div>





    <div class="col-md-4">
        <div class="blog-post-container">
                <div class="blog-entry-container">
                    <a href="" class="blog-entry-link"></a>
                    <div class="blog-featured-image">
                        <img src="/web/assets/blog/Sample-post-images/Blog-post-sample-featured-image-5.png" alt="">
                    </div>
                </div>
                <div class="blog-post-content-container">
                    <a href="" ><h2 class="plog-post-title">Lorem ipsum dolor sit amet, consectetur adipiscing ut aliqua. </h2></a>
                    <p class="plog-post-content">Lorem ipsum dolor sit amet et dolore magna aliqua.</p>
                    <h3 class="plog-most-meta">13 OCT 2018</a>
                </div>
            </div>
        </div>





    <div class="col-md-4">
        <div class="blog-post-container">
                <div class="blog-entry-container">
                    <a href="" class="blog-entry-link"></a>
                    <div class="blog-featured-image">
                        <img src="/web/assets/blog/Sample-post-images/Blog-post-sample-featured-image-6.png" alt="">
                    </div>
                </div>
                <div class="blog-post-content-container">
                    <a href="" ><h2 class="plog-post-title">Lorem ipsum dolor sit amet, consectetur adipiscing ut aliqua. </h2></a>
                    <p class="plog-post-content">Lorem ipsum dolor sit amet et dolore magna aliqua.</p>
                    <h3 class="plog-most-meta">13 OCT 2018</a>
                </div>
            </div>
        </div>





    <div class="col-md-4">
        <div class="blog-post-container">
                <div class="blog-entry-container">
                    <a href="" class="blog-entry-link"></a>
                    <div class="blog-featured-image">
                        <img src="/web/assets/blog/Sample-post-images/Blog-post-sample-featured-image-7.png" alt="">
                    </div>
                </div>
                <div class="blog-post-content-container">
                    <a href="" ><h2 class="plog-post-title">Lorem ipsum dolor sit amet, consectetur adipiscing ut aliqua. </h2></a>
                    <p class="plog-post-content">Lorem ipsum dolor sit amet et dolore magna aliqua.</p>
                    <h3 class="plog-most-meta">13 OCT 2018</a>
                </div>
            </div>
        </div>



    <div class="col-md-4">
        <div class="blog-post-container">
                <div class="blog-entry-container">
                    <a href="" class="blog-entry-link"></a>
                    <div class="blog-featured-image">
                        <img src="/web/assets/blog/Sample-post-images/Blog-post-sample-featured-image-8.png" alt="">
                    </div>
                </div>
                <div class="blog-post-content-container">
                    <a href="" ><h2 class="plog-post-title">Lorem ipsum dolor sit amet, consectetur adipiscing ut aliqua. </h2></a>
                    <p class="plog-post-content">Lorem ipsum dolor sit amet et dolore magna aliqua.</p>
                    <h3 class="plog-most-meta">13 OCT 2018</a>
                </div>
            </div>
        </div>


{% for entry in craft.entries.section('blogEntry').limit(9).all()%}

    <div class="col-md-4">
        <div class="blog-post-container">
                <div class="blog-entry-container">
                    <a href="{{ entry.url }}" class="blog-entry-link"></a>
                    <div class="blog-featured-image">
                        <img src="/web/assets/blog/Sample-post-images/Blog-post-sample-featured-image-9.png" alt="">
                    </div>
                </div>
                <div class="blog-post-content-container">
                    <a href=" {{ entry.url }}  " ><h2 class="plog-post-title">{{ entry.title }}</h2></a>
                    <p class="blog-post-content">{{ entry.blogintroduction }}</p>
                    <h3 class="blog-most-meta">{{ entry.date }}</a>
                </div>
            </div>
        </div>

</div>












{% include "_fulcrum-premium-finance/_includes/_contact-form" %}
{% include "_fulcrum-premium-finance/_includes/_footer" %}
{% endblock %}