


<div id="carouselExampleIndicators" class="carousel slide row" data-ride="carousel">
  <ol class="carousel-indicators">
    {% for entry in craft.entries.section('brokerTestimonials').limit(3).all()%}
      <li data-target="#carouselExampleIndicators" data-slide-to="{{ loop.index0 }}" {% if loop.index0 == 0 %} class="active" {% endif %}></li>
      
    {% endfor %}  
  </ol>
  <div class="carousel-inner">

    {% for entry in craft.entries.section('brokerTestimonials').limit(3).all()%}

      <div {% if loop.index0 == 0 %} class="carousel-item active" {% else %} class="carousel-item" {% endif %}>
        <div class="testimonials-container">
          <div class="testimonial-image">
            {% if entry.brokerTestimonialProfileImage|length %}
              {% for image in entry.brokerTestimonialProfileImage.all() %}
                <img src="{{ image.url }}" alt="{{ image.title }}" />
              {% endfor %}
            {% endif %}
          </div>
          <div class="testimonial-content">
            <h2 class="client-name">{{entry.brokerTestimonialClientName}}</h2>
            <h3 class="client-job-title">{{entry.brokerTestimonialClientJobTitle}}</h3>
            <p class="client-testimonial">{{entry.brokerTestimonialQuote}}</p>
            <h4 class="client-company">{{entry.brokerTestimonialClientCompany}}</h4>
          </div>
        </div> 
      </div>

    {% endfor %}  
  
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
